<div class="container">

  <%= form_tag root_path, class: "form-inline", method: "GET" do %>
    <div class="text-center">
      <div class="form-group">
        <%= text_field_tag :query, params[:query], placeholder: "Don't Make Me Think", class: "form-control" %>
      </div>
      <%= submit_tag "Search", class: "btn btn-default" %>
    </div>
    <br>
  <% end %>

  <table class="table table-bordered">
    <tr>
      <th colspan="8" class="text-center"><h3>Current Books</h3></th>
    </tr>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Author</th>
      <th class="text-center">Bookcase</th>
      <th class="text-center">Row</th>
      <th class="text-center">Position</th>
      <th class="text-center">Section</th>
      <th class="text-center">Orientation</th>
      <th class="text-center">In/out</th>
    </tr>

    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.bookcase.name %></td>
        <td><%= book.row %></td>
        <td><%= book.position %></td>
        <td><%= book.section %></td>
        <td><%= book.orientation %></td>
        <% if book.status %>
          <td>
            <%= form_tag book_path(book.id), method: "PATCH" do %>
              <%= submit_tag "Take out", class: "btn btn-success" %>
            <% end %>
          </td>
        <% else %>
          <td>
            <%= form_tag book_path(book.id), method: "PATCH" do %>
              <%= submit_tag "Put back", class: "btn btn-info" %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
