<!DOCTYPE html>
<html>
<head>
  <title>The Archives</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to image_tag("logo.png", class: "navbar-brand"), root_path %>
        <%= link_to "Add Bookcase", new_bookcase_path, class: "navbar-brand"  %>
        <%= link_to "Add Book", new_book_path, class: "navbar-brand"  %>
      </div>
      <div class="navbar-right">
        <%= link_to "Sign In", "#", class: "navbar-brand" %>
      </div>
    </div>
  </nav>

  <% if flash[:notice] %>
    <div class="col-lg-6 col-lg-offset-3 text-center alert alert-info flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
